<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f126800a-33c1-4ad7-aa85-8a88b185b733");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
